.my-theme-blog-card {
    background: #E6F5FF;
    border-radius: 15px;
    /* overflow: hidden; */
    height: 100%;
    display: block;
}

.my-theme-blog-card .read-more::after {
    background-color: var(--black);
    transition: 0.5s;
}

.my-theme-blog-card,
.my-theme-blog-card:hover {
    color: var(--black);
}

.my-theme-blog-card p:last-child {
    margin-bottom: 0;
}

.my-theme-blog-card .img-block {
    position: relative;
    height: 300px;
    display: block;
}

.my-theme-blog-card .img-block:focus-visible {
    outline: auto;
}

.my-theme-blog-card .content-block {
    padding: 36px 56px 36px 30px;
    display: flex;
    flex-direction: column;
}

.my-theme-blog-card .img-block .icon {
    width: 47px;
    height: 47px;
    background: var(--primary);
    display: block;
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 50%;
    transition: 0.5s all ease;
}

.my-theme-blog-card .icon:after {
    margin-left: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my-theme-blog-card .img-block img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    border-radius: 15px 15px 0 0;
}

.my-theme-blog-card .content-block .h3 {
    margin-bottom: 0;
    font-weight: 500 !important;
    margin-bottom: 10px;
}

.my-theme-blog-card .content-block .h6 {
    margin-bottom: 5px;
}

.my-theme-blog-card .content-block p {
    margin-bottom: 0;
    color: var(--secondary);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    /* display: none; */
}

.list-view .my-theme-blog-card .content-block p {
    /* display: -webkit-box; */
}

.my-theme-blog-card .content-block a {
    width: auto;
}

.my-theme-blog-card .content-block a:hover {
    color: var(--primary);
}

.my-theme-blog-card .content-block a:hover:after {
    background-color: var(--primary);
}

.my-theme-blog-card .content-block .p {
    margin-bottom: 0;
}

.my-theme-blog-card:hover .img-block .icon {
    transform: rotate(45deg);
}

.my-theme-blog-row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.my-theme-blog-card .content-block .h3,
.my-theme-blog-card .content-block .h6 {
    color: var(--black);
}

.my-theme-blog-card .post_date {
    position: absolute;
    background: var(--primary);
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    bottom: -25px;
    right: 25px;
    color: var(--white);
}

.my-theme-blog-card .post_date span {
    display: block;
    font-size: 20px;
}

.list-view .my-theme-blog-card .post_date {
    bottom: unset;
    top: 10px;
    left: 10px;
    right: unset;
}

.my-theme-blog-card .img-block {
    height: 350px;
}

.my-theme-blog-card-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.my-theme-blog-card-row {
    width: 100%;
}

.my-theme-blog-row:has(.my-theme-blog-sidebar) .my-theme-blog-card-wrapper,
.list-view.my-theme-blog-card-wrapper {
    width: calc(75% - 15px);
}

.my-theme-blog-sidebar {
    width: calc(25% - 15px);
}

.my-theme-blog-row:has(.my-theme-blog-sidebar) .my-theme-blog-card {
    width: calc(50% - 10px);
}

.my-theme-blog-card {
    width: calc(calc(100%/3) - 13.4px);
}

.list-view .my-theme-blog-card,
.my-theme-blog-row:has(.my-theme-blog-sidebar) .list-view .my-theme-blog-card {
    width: 100%;
}

.list-view .my-theme-blog-card {
    display: flex;
}

.list-view .my-theme-blog-card .img-block {
    height: unset;
    width: 25%;
}

.list-view .my-theme-blog-card .content-block {
    width: 75%;
}

.my-theme-blog-card .categories {
    margin-bottom: 10px;
}

.my-theme-blog-card .categories a {
    font-size: 18px;
    font-weight: 500;
}

.my-theme-blog:has(.search-form) .my-theme-blog-sidebar .widget_search {
    display: none;
}

.my-theme-blog .search-form {
    margin: 0 auto 30px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-theme-blog .search-form label {
    margin-bottom: 0;
}

@media(max-width:1599px) {
    .my-theme-blog-card .content-block {
        padding: 30px 45px 30px 25px;
    }
}

@media(max-width:1399px) {
    .my-theme-blog-card .img-block {
        height: 300px;
    }
}

@media(max-width:991px) {

    .my-theme-blog-row:has(.my-theme-blog-sidebar) .my-theme-blog-card-wrapper,
    .list-view.my-theme-blog-card-wrapper {
        width: 100%;
    }

    .my-theme-blog-sidebar {
        width: 100%;
    }

    .my-theme-blog-card {
        width: calc(50% - 10px);
    }

    .list-view .my-theme-blog-card .img-block {
        width: 40%;
    }

    .list-view .my-theme-blog-card .content-block {
        width: 60%;
    }
}

@media(max-width:767px) {

    .my-theme-blog-card {
        flex-wrap: wrap;
    }

    .my-theme-blog-card .img-block,
    .my-theme-blog-card .content-block {
        width: 100%;
    }

    .my-theme-blog-card .img-block {
        height: 250px;
    }

    .my-theme-blog-card .img-block img {
        object-position: top;
    }

    .my-theme-blog-card .content-block {
        padding: 25px;
    }

    .list-view .my-theme-blog-card {
        display: block;
    }

    .list-view .my-theme-blog-card .img-block {
        width: 100%;
        height: 250px;
    }

    .list-view .my-theme-blog-card .content-block {
        width: 100%;
    }

    .my-theme-blog-row:has(.my-theme-blog-sidebar) .my-theme-blog-card {
        width: 100%;
    }

    .list-view .my-theme-blog-card .post_date {
        bottom: -25px;
        right: 25px;
        top: unset;
        left: unset;
        right: 15px;
    }

    .my-theme-blog-card .post_date {
        right: 15px;
    }

    .my-theme-blog-card {
        width: 100%;
    }

    .my-theme-blog .search-form label {
        max-width: 50%;
    }

    .my-theme-blog .search-form .search-field {
        width: 100%;
    }
}

@media(max-width:390px) {

    .my-theme-blog-card .img-block,
    .list-view .my-theme-blog-card .img-block {
        height: 200px;
    }
}