/* 68 1.15 500
50 1.2 300
34 1.59 500
32 1.31 500
28 1.92 500
20 1.4 500 */

html {
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  position: relative;
}

section {
  /* overflow-x: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-weight: normal;
  padding: 0px;
}

img {
  border: none;
  max-width: 100%;
  width: auto;
  height: auto;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style-type: none;
  font-size: 18px;
  /* line-height: 1.22; */
  line-height: 1.78;
  /* font-weight: 400; */
  font-weight: 300;
}

ol li {
  font-size: 18px;
  /* line-height: 1.22; */
  line-height: 1.78;
  /* font-weight: 400; */
  font-weight: 300;
}

main ul,
main ol {
  padding-left: 25px;
}

main ul:not(:last-child) {
  /* margin-bottom: 20px; */
}

main ul:not(:last-child),
main ol:not(:last-child) {
  margin-bottom: 35px;
}

main ul li {
  /* margin-bottom: 35px; */
  margin-bottom: 20px;
  position: relative;
}

main ul li::before {
  content: '';
  position: absolute;
  /* top: 2px;
  left: -34px;
  width: 16px;
  height: 16px; */
  top: 12px;
  left: -25px;
  width: 8px;
  height: 8px;
  background: var(--secondary);
  border-radius: 50%;
}

.bg-dark-blue ul li::before {
  background: var(--dark_section_content_color);
}

.bg-dark-blue *:not(.my-theme-btn) {
  color: var(--dark_section_content_color);
}

.bg-dark-blue a:not(.my-theme-btn) {
  /* color: var(--dark_section_link_color); */
  text-decoration: underline;
}

.bg-dark-blue a:not(.my-theme-btn):hover {
  /* color: var(--dark_section_content_color); */
  text-decoration: none;
}

main ul li:last-child,
main ol li:last-child {
  margin-bottom: 0;
}

main ol li {
  margin-bottom: 20px;
}

main li h1,
main li h2,
main li h3,
main li h4,
main li h5,
main li h6 {
  margin: 20px 0;
}

main li h1:first-child,
main li h2:first-child,
main li h3:first-child,
main li h4:first-child,
main li h5:first-child,
main li h6:first-child {
  margin-top: 0;
}

main li h1:last-child,
main li h2:last-child,
main li h3:last-child,
main li h4:last-child,
main li h5:last-child,
main li h6:last-child {
  margin-bottom: 0;
}

/* a {
  color: var(--secondary);
} */

a,
a:hover {
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover {
  outline: none !important;
  box-shadow: none !important;
}

::-moz-selection {
  color: var(--white);
  background: var(--primary);
}

::selection {
  color: var(--white);
  background: var(--primary);
}

input:focus,
input:focus-visible,
button:focus,
button:focus-visible,
textarea:focus,
textarea:focus-visible {
  /* outline: none !important; */
  box-shadow: none !important;
}

img {
  border: none;
  width: auto;
  height: auto;
}

.mb-75 {
  margin-bottom: 75px;
}

.mt-75 {
  margin-top: 75px;
}

.my-75 {
  margin-top: 75px;
  margin-bottom: 75px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pt-75 {
  padding-top: 75px;
}

.py-75 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.py-150 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.bg-dark-blue {
  background: var(--dark_section_background);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  /* font-weight: 500; */
  margin-bottom: 20px;
}

h1 {
  font-size: 68px;
  line-height: 1.15;
}

.h1 {
  font-size: 68px !important;
  line-height: 1.15 !important;
}

h2 {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 300 !important;
}

.h2 {
  font-size: 50px !important;
  line-height: 1.2 !important;
  font-weight: 300 !important;
}

h3 {
  font-size: 34px;
  line-height: 1.59;
}

.h3 {
  font-size: 34px !important;
  line-height: 1.59 !important;
}

h4 {
  font-size: 32px;
  line-height: 1.31;
}

.h4 {
  font-size: 32px !important;
  line-height: 1.31 !important;
}

h5 {
  font-size: 28px;
  line-height: 1.92;
}

.h5 {
  font-size: 28px !important;
  line-height: 1.92 !important;
}

h6 {
  font-size: 20px;
  line-height: 1.4;
}

.h6 {
  font-size: 20px !important;
  line-height: 1.4 !important;
}

p,
.p {
  font-size: 18px;
  line-height: 1.78;
  margin-bottom: 35px;
  /* font-weight: 300; */
}

p:not(form p):last-child,
.p:not(form .p):last-child {
  margin-bottom: 0;
}

a {
  color: var(--link_color_regular);
}

a:hover,
a:focus,
a:focus-visible {
  color: var(--link_color_hover);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

main>section:first-child {
  margin-top: 0;
}

.my-75+.my-75 {
  margin-top: 150px;
}

.my-theme-banner+.bg-dark-blue {
  margin-top: -25px !important;
}

main:has(.my-theme-banner+.bg-dark-blue) .my-theme-banner {
  margin-bottom: 0;
}

.wrapper:has(main>section.py-150:last-child) footer {
  margin-top: -25px;
}

main>section.py-150:last-child {
  margin-bottom: 0;
}

main>section.py-150:last-child {
  padding-bottom: 175px;
}

.my-theme-hero-banner+section,
.my-theme-banner+section {
  /* padding-top: 150px; */
}

.widget.widget_block:has(.wp-block-latest-comments) {
  display: none;
}

.my-theme-btn {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.22;
  padding: 9px 20px 9px 20px;
  display: inline-block;
}

.my-theme-btn:after {
  transition: 0.5s all ease;
  position: relative;
  bottom: -2px;
}

.btn-no-arrow .my-theme-btn::after,
.btn-no-arrow button::after {
  display: none;
}

.my-theme-btn:focus {
  color: var(--white);
}

.header {
  /* background: var(--white); */
  box-shadow: 0px 4px 4px 0px #0000000A;
  /* opacity: 0.9; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  transition: 0.5s all ease;
}

header .logo-block img,
.mobile-header .logo {
  width: 215px;
}

.ta-open-menu .header {
  opacity: 1;
}

.header .container,
.header .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.ta-navigation-menu .navbar-collapse {
  display: flex;
  text-align: left;
  font-size: 0;
  flex-wrap: wrap;
}

.ta-navigation-menu {
  padding: 0;
}

.ta-navigation-menu ul:not(.social-link) li {
  display: inline-block;
  padding-left: 22px;
  padding-right: 22px;
  position: relative;
}

.ta-navigation-menu ul:not(.social-link) li a {
  color: var(--secondary);
  position: relative;
  padding-top: 46px;
  padding-bottom: 40px;
  display: inline-block;
  word-break: break-word;
}

.ta-navigation-menu ul:not(.social-link) li a:hover,
.ta-navigation-menu ul:not(.social-link) li a.active-menu,
.ta-navigation-menu ul:not(.social-link) li .sub-menu li:hover>a {
  color: var(--primary);
}

.ta-navigation-menu ul:not(.social-link) li a:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  transition: all .5s ease;
  background: var(--primary);
  height: 2px;
  content: "";
}

.sub-menu li a::before,
.ta-navigation-menu ul:not(.social-link) .sub-menu .menu-item-has-children>a:after {
  display: none;
}

.ta-navigation-menu ul:not(.social-link) li a:hover:before,
.ta-navigation-menu ul:not(.social-link) li a.active-menu:before,
.ta-navigation-menu ul:not(.social-link) li:hover a:before,
.ta-navigation-menu ul:not(.social-link) li.current-menu-item>a::before,
.ta-navigation-menu ul:not(.social-link) li.current-menu-ancestor>a::before {
  width: 100%;
}

.ta-navigation-menu ul:not(.social-link) li.current-menu-item>a,
.ta-navigation-menu ul:not(.social-link) li.current_page_parent>a,
.ta-navigation-menu ul:not(.social-link) li .sub-menu li.current-menu-item>a {
  /* color: var(--primary); */
  /* font-weight: 600; */
}

.ta-navigation-menu ul:not(.social-link) li.current-menu-item>a,
.ta-navigation-menu ul:not(.social-link) li .sub-menu li.current-menu-item>a {
  font-weight: 600;
}

.ta-navigation-menu ul:not(.social-link) li.current-menu-parent>a {
  font-weight: 600;
}

/* .ta-navigation-menu ul:not(.social-link) li.menu-item-has-children a:hover:after,
.ta-navigation-menu ul:not(.social-link) li.menu-item-has-children a.active-menu:after,
.ta-navigation-menu ul:not(.social-link) li.current-menu-item>a::after,
.ta-navigation-menu ul:not(.social-link) li.current-menu-ancestor>a::after {
  border-top: 6px solid var(--primary);
} */

.ta-navigation-menu ul:not(.social-link) li.menu-item-has-children a:hover:after {
  border-top: 6px solid var(--primary);
  background: var(--primary);
}

.ta-navigation-menu .sub-menu .menu-item-has-children .ta-arrow-down2 {
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
}

.ta-navigation-menu .sub-menu .menu-item-has-children .ta-arrow-down2::before {
  width: 14px;
  height: 14px;
  border-right: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
  position: relative;
  content: " ";
  display: inline-block;
  transform: rotate(-45deg);
  right: 4px;
}

.ta-navigation-menu .sub-menu .menu-item-has-children:hover .ta-arrow-down2::before {
  border-right: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
}

.ta-navigation-menu ul:not(.social-link) li.menu-item-has-children>a::after {
  margin-left: 10px;
  margin-bottom: 2px;
}

.header .my-theme-btn::after {
  display: none;
}

.header .btn-block {
  margin-left: 18px;
}

.logo-above-centered .header-main .container,
.logo-above-centered .header-main .container-fluid {
  flex-wrap: wrap;
  justify-content: center;
}

.logo-above-centered .header-main .logo-block {
  width: 100%;
  flex: unset;
  text-align: center;
  margin: 10px 0 5px;
}

.back-top.show {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.back-top {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 99;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  width: 40px;
  height: 40px;
  border-radius: 10%;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
  overflow: hidden;
  color: var(--white);
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.back-top .icon-arrow::before {
  margin: 0;
}

.back-top .icon-arrow {
  font-size: 0;
}

.back-top:hover {
  background: transparent;
}

.back-top .icon-arrow::before {
  transition: 0.5s all ease;
}

.back-top:hover .icon-arrow::before {
  background: var(--primary);
}

.sticky-header .header {
  position: fixed;
  z-index: 999;
  transition: 0.3s ease all;
  -webkit-animation: sticky-menu 0.8s forwards;
  -ms-animation: sticky-menu 0.8s forwards;
  -o-animation: sticky-menu 0.8s forwards;
  animation: sticky-menu 0.8s forwards;
  top: 0;
  box-shadow: #08184d21 0px 3px 10px;
}

@keyframes sticky-menu {
  from {
    top: -50%;
  }

  to {
    top: 0;
  }
}

form p {
  margin-bottom: 30px;
}

form .recaptcha {
  font-size: 12px;
}

form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

form label em {
  color: var(--primary);
}

form input:not(input[type=submit]),
form textarea,
form input {
  border: 1px solid #BCCED2 !important;
  padding: 12px 20px !important;
  font-size: 16px !important;
  line-height: 22px !important;
  border-radius: 10px !important;
  color: var(--secondary) !important;
  font-weight: 300 !important;
  background: var(--white) !important;
}

form input:not(input[type=submit]):focus,
form textarea:focus {
  border-color: var(--primary) !important;
}

input::placeholder,
textarea::placeholder {
  color: var(--secondary) !important;
  opacity: 1;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--secondary) !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: var(--secondary) !important;
  opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: var(--secondary) !important;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--secondary) !important;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: var(--secondary) !important;
}

html form input[name="appointment_date"] {
  background-image: url('../images/calendar.svg') !important;
  background-repeat: no-repeat !important;
  background-position: right 22px top 13px !important;
  background-size: 20px !important;
}

form .form-btn-load p {
  margin-bottom: 0;
  display: block;
  margin-left: auto;
  width: max-content;
  margin-right: 0;
  position: relative;
}

form .form-btn-load .wpcf7-spinner {
  position: absolute;
  top: 10px;
  right: -30px;
  margin: 0;
}

form .my-theme-btn:after,
form input[type=submit]:after {
  display: none;
}

form .recaptcha a {
  text-decoration: underline;
}

form .my-theme-btn,
form input[type=submit] {
  transition: all 0.5s ease;
}

form input[type=submit] {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.22;
  padding: 11px 20px 11px 20px;
  display: inline-block;
}

form input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
  transition: 0.5s all ease;
}

form input[type="search"]::-webkit-search-cancel-button:hover {
  opacity: 0.5;
}

form .wpcf7-not-valid-tip {
  font-size: 16px;
  line-height: 22px;
  margin-top: 5px;
  font-weight: 300;
}

.wpcf7 form .wpcf7-response-output {
  border-color: #dc3232 !important;
  margin-left: 0;
  margin-right: 0;
}

.wpcf7 form.sent .wpcf7-response-output {
  border-color: #00d500 !important;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  cursor: not-allowed;
}

.datepicker table tr td.active.active {
  background: var(--secondary);
}

.datepicker table th,
.datepicker table td {
  padding: 5px;
  font-size: 15px;
}

html .datepicker table tr td.today {
  background: var(--primary);
  color: var(--white);
}

.error-404 {
  text-align: center;
}

main table,
main th,
main td {
  border: 1px solid;
}

main table th,
main table td {
  padding: 5px;
}

main table {
  margin-bottom: 20px;
}

main blockquote {
  display: block;
}

main blockquote p {
  position: relative;
}

main blockquote p::before {
  content: "''";
  font-size: 23px;
  line-height: 1;
  position: absolute;
  left: 0;
}

main blockquote p::after {
  content: "''";
  font-size: 23px;
  line-height: 1;
  position: absolute;
  right: 0;
}

main blockquote p {
  display: inline;
  padding-left: 12px;
  padding-right: 12px;
}

main img {
  margin-bottom: 20px;
}

main button {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.22;
  padding: 11px 20px 11px 20px;
  display: inline-block;
  transition: 0.5s all ease;
}

main code {
  background: var(--secondary);
  color: var(--white);
}

.blank-content {
  min-height: 250px;
}

.grecaptcha-badge {
  opacity: 0;
  visibility: hidden;
}

.header .social-link li {
  display: inline-block;
  font-size: 0;
}

.header .social-link li:not(:last-child) {
  margin-right: 10px;
}

.header .social-link a {
  width: 30px;
  height: 30px;
  display: inline-block;
  background: var(--header_social_bg_regular);
  border-radius: 50%;
  position: relative;
  color: var(--white);
}

.header .social-link {
  font-size: 0;
}

.top-bar {
  padding-top: 8px;
  padding-bottom: 8px;
  background: #F9E9EA;
}

.top-bar p,
.top-bar a {
  font-size: 15px;
}

.header .social-link a:hover {
  background: var(--header_social_bg_hover);
}

.header .top-bar p {
  color: var(--secondary);
  max-width: 75%;
}

.header .top-bar a {
  color: var(--primary);
}

.header .top-bar a:hover {
  color: var(--secondary);
}

.top-bar .container:has(p:only-child),
.top-bar .container-fluid:has(p:only-child) {
  justify-content: center;
}

.top-bar .container:has(.social-link:only-child),
.top-bar .container-fluid:has(.social-link:only-child) {
  justify-content: flex-end;
}

.top-bar.off {
  display: none;
}

.top-bar p {
  margin-bottom: 0;
}

.pagination .page-item {
  margin-bottom: 0;
}

.pagination .page-item::before {
  display: none;
}

.pagination {
  margin-top: 50px;
}

.pagination .page-link {
  font-weight: 500;
  color: var(--secondary);
}

.pagination .active>.page-link,
.pagination .page-link.active {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}

.pagination .page-link b {
  font-weight: 500;
}

.pagination .page-link:not(.active .page-link):hover {
  background: #F9E9EA;
}

.ta-navigation-menu ul:not(.social-link) li.menu-item-has-children>a::after,
.ta-arrow-down::before {
  background: var(--menu_and_arrow_color);
}

.header *:not(.my-theme-btn) {
  color: var(--secondary);
}

.my-theme-btn:after,
button:after,
input[type=submit]:after,
input[type=reset]:after,
input[type=button]:after,
.my-theme-footer .footer-col .wp-block-button .wp-element-button::after {
  background-color: var(--arrow_color);
}

.my-theme-btn:hover:after,
button:hover:after,
input[type=submit]:hover:after,
input[type=reset]:hover:after,
input[type=button]:hover:after,
.my-theme-footer .footer-col .wp-block-button .wp-element-button:after {
  background-color: var(--arrow_hover_color);
}

.my-theme-btn:hover,
button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
.my-theme-footer .footer-col .wp-block-button .wp-element-button:hover {
  background: var(--button_hover_bg);
  color: var(--button_hover_color);
  border-color: var(--button_border_hover_color);
}

.my-theme-btn:hover font,
button:hover font,
input[type=submit]:hover font,
input[type=reset]:hover font,
input[type=button]:hover font,
.my-theme-footer .footer-col .wp-block-button .wp-element-button:hover font {
  color: var(--button_hover_color) !important;
}

.my-theme-btn,
button,
input[type=submit],
input[type=reset],
input[type=button],
.my-theme-footer .footer-col .wp-block-button .wp-element-button {
  background: var(--button_bg_color);
  color: var(--button_color);
  border-color: var(--button_border_color);
}

.my-theme-btn font,
button font,
input[type=submit] font,
input[type=reset] font,
input[type=button] font,
.my-theme-footer .footer-col .wp-block-button .wp-element-button font {
  color: var(--button_color) !important;
  transition: 0.5s all ease;
}

html #CookiebotWidget .CookiebotWidget-logo svg circle {
  fill: var(--primary);
}

header .gt_selector {
  background: transparent;
  border: none;
  width: 90px;
  /* outline: none; */
  cursor: pointer;
}

html body .uwy .userway_buttons_wrapper {
  top: unset !important;
  transform: none !important;
  left: 10px !important;
  bottom: 70px !important;
}

.menu-gtranslate-menu-container ul li:hover .sub-menu,
/* .menu-gtranslate-menu-container ul li:focus-visible .sub-menu,
    .menu-gtranslate-menu-container ul li:focus .sub-menu */
.menu-gtranslate-menu-container ul>li>a:focus~.sub-menu,
/* .menu-gtranslate-menu-container ul > li > a:focus-visible ~ .sub-menu, */
.menu-gtranslate-menu-container ul li:focus-within .sub-menu {
  /* opacity: 1;
    visibility: visible; */
  top: 32px;
  display: inline-block !important;
}

.menu-gtranslate-menu-container ul li a.gt-current-wrapper {
  font-size: 18px;
  font-weight: 600;
  color: var(--secondary);
  /* padding: 11px 0 10px 5px; */
  display: inline-block;
  position: relative;
}

.menu-gtranslate-menu-container ul li a.gt-current-wrapper:after {
  width: 11px;
  height: 11px;
  transform: rotate(45deg);
  right: unset;
  top: -4px;
  border-right: 2px solid var(--secondary);
  border-bottom: 2px solid var(--secondary);
  position: relative;
  content: " ";
  display: inline-block;
  margin-left: 12px;
}

.menu-gtranslate-menu-container ul li a.gt-current-wrapper:hover:after {
  border-color: var(--primary);
}

.menu-gtranslate-menu-container ul li a.gt-current-wrapper:hover {
  color: var(--primary);
}

.menu-gtranslate-menu-container {
  margin-left: 20px;
}

.menu-gtranslate-menu-container ul li {
  position: relative;
}

.menu-gtranslate-menu-container ul li .sub-menu {
  position: absolute;
  top: 48px;
  left: 0;
  border: none;
  width: 50px;
  max-width: 50px;
  min-width: 50px;
  text-align: center;
  padding: 0;
  box-shadow: 0 0 10px #eee;
  border-radius: 5px;
  /* overflow: hidden; */
}

.menu-gtranslate-menu-container ul li .sub-menu li:first-child a:hover,
.menu-gtranslate-menu-container ul li .sub-menu li:first-child a.gt-current-lang {
  border-radius: 5px 5px 0 0;
}

.menu-gtranslate-menu-container ul li .sub-menu li:last-child a:hover,
.menu-gtranslate-menu-container ul li .sub-menu li:last-child a.gt-current-lang {
  border-radius: 0 0 5px 5px;
}

.menu-gtranslate-menu-container ul li .sub-menu li {
  border-bottom: 1px solid #bce6fe;
}

.menu-gtranslate-menu-container ul li .sub-menu li:last-child {
  border: none;
}

.menu-gtranslate-menu-container ul li .sub-menu li a {
  font-size: 14px;
  padding: 7px 0;
  display: inline-block;
  color: var(--secondary);
  width: 100%;
  font-weight: 500;
}

.menu-gtranslate-menu-container ul li .sub-menu li a.gt-current-lang,
.menu-gtranslate-menu-container ul li .sub-menu li a:hover {
  background: var(--secondary);
  color: #fff;
}

.wow {
  visibility: visible !important;
  opacity: 0 !important;
  transition: opacity .3s ease;
}

.wow.wow-visible {
  opacity: 1 !important;
}

.skip-to-content {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.skip-to-content:focus {
  position: absolute;
  z-index: 9999;
  left: 15px;
  top: 15px;
  border-radius: 10px;
  background-color: var(--secondary);
  color: #fff;
  border: 2px solid var(--secondary);
  font-size: 16px;
  line-height: 1.4;
  text-decoration: none;
  padding: 8px 14px;
  max-width: 195px;
  text-align: center;
  width: auto;
  height: auto;
}

@media (min-width: 1200px) {

  .mobile-header,
  .ta-navigation-menu .navbar-toggler {
    display: none;
  }

  .ta-navigation-menu ul:not(.social-link) li .sub-menu {
    display: inline-block;
    text-align: left;
    z-index: 99;
    position: absolute;
    background-color: #F0F4F8;
    min-width: 300px;
    top: 110%;
    left: -18px;
    max-height: 500px;
    transition: all .2s ease-in;
    opacity: 0;
    visibility: hidden;
  }

  .ta-navigation-menu ul:not(.social-link) li:last-child .sub-menu {
    left: unset;
    right: 0;
  }

  .ta-navigation-menu .sub-menu .menu-item-has-children .ta-arrow-down2 {
    right: 15px !important;
  }

  .ta-navigation-menu ul:not(.social-link)>li:hover>.sub-menu,
  .ta-navigation-menu ul:not(.social-link)>li:focus>.sub-menu,
  .ta-navigation-menu ul:not(.social-link)>li:focus-within>.sub-menu {
    visibility: visible;
    top: 100%;
    opacity: 1;
  }

  .ta-navigation-menu ul:not(.social-link) li .sub-menu li {
    padding: 0;
    width: 100%;
  }

  .ta-navigation-menu ul:not(.social-link) li .sub-menu li:first-child a {
    padding-top: 20px;
  }

  .ta-navigation-menu ul:not(.social-link) li .sub-menu li:last-child a {
    padding-bottom: 20px;
  }

  .ta-navigation-menu ul:not(.social-link) li .sub-menu li a {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--secondary);
    display: flex;
  }

  .ta-navigation-menu ul:not(.social-link)>li>.sub-menu .sub-menu {
    background-color: #E2E8EF;
    min-width: 256px;
    padding: 0;
    right: 100%;
    left: auto;
  }

  .ta-navigation-menu ul:not(.social-link)>li>.sub-menu .sub-menu a {
    font-size: 16px;
    line-height: 1.6;
  }

  .ta-navigation-menu .sub-menu>li:hover>.sub-menu {
    top: -10px;
  }

  .ta-navigation-menu .sub-menu .menu-item-has-children>a {
    padding-right: 34px;
  }

  .ta-arrow-down::before {
    display: none;
  }

  .header .my-theme-btn:not(:last-child) {
    margin-right: 15px;
  }

  .header .main-menu {
    /* margin-right: 18px; */
  }

  .logo-above-centered .ta-navigation-menu ul:not(.social-link) li a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .submenu-fadeindown .ta-navigation-menu ul:not(.social-link) li .sub-menu {
    top: 90%;
  }

  .submenu-fadeindown .ta-navigation-menu ul:not(.social-link)>li:hover>.sub-menu {
    top: 100%;
  }

  .submenu-fadeinright .ta-navigation-menu ul:not(.social-link) li .sub-menu {
    top: 100%;
    left: -36px;
  }

  .submenu-fadeinright .ta-navigation-menu ul:not(.social-link)>li:hover>.sub-menu {
    top: 100%;
    left: -18px;
  }

  .submenu-fadeinleft .ta-navigation-menu ul:not(.social-link) li .sub-menu {
    top: 100%;
    left: 0;
  }

  .submenu-fadeinleft .ta-navigation-menu ul:not(.social-link)>li:hover>.sub-menu {
    left: -18px;
  }

  .header .container>.gtranslate_wrapper,
  .header .container-fluid>.gtranslate_wrapper,
  .header-main .menu-gtranslate-menu-container,
  .header-main .menu-gtranslate-menu-container {
    display: none;
  }

  .menu-gtranslate-menu-container ul li:hover .sub-menu {
    display: inline-block !important;
  }

  .menu-gtranslate-menu-container ul li a~.sub-menu {
    display: none !important;
  }

  .navbar .social-link {
    display: none;
  }
}

@media(min-width:1200px) {
  .container {
    max-width: 1230px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media(min-width:1400px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1380px;
  }

  .ta-navigation-menu ul:not(.social-link) li .sub-menu li:not(:last-child) {
    margin-bottom: 0;
  }

  .ta-navigation-menu ul:not(.social-link) li .sub-menu li a {
    font-size: 18px;
  }

  .ta-navigation-menu ul:not(.social-link) li .sub-menu {
    min-width: 345px;
  }

  .ta-navigation-menu ul:not(.social-link)>li>.sub-menu .sub-menu {
    left: 100%;
  }

  .ta-navigation-menu ul:not(.social-link) li .sub-menu li:first-child a {
    padding-top: 30px;
  }

  .ta-navigation-menu ul:not(.social-link) li .sub-menu li:last-child a {
    padding-bottom: 30px;
  }

  .ta-navigation-menu ul:not(.social-link) li .sub-menu li a {
    padding: 10px 30px;
  }

  .ta-navigation-menu ul:not(.social-link) li .sub-menu li .sub-menu li:first-child a {
    padding-top: 20px;
  }

  .ta-navigation-menu ul:not(.social-link) li .sub-menu li .sub-menu li:last-child a {
    padding-bottom: 20px;
  }

  .ta-navigation-menu ul:not(.social-link) li .sub-menu li .sub-menu li a {
    padding: 8px 20px;
  }

  .ta-navigation-menu ul:not(.social-link)>li>.sub-menu .right-ta-open-menu .sub-menu {
    right: 100%;
    left: auto;
  }
}

@media(min-width:1600px) {
  .container {
    max-width: 1580px;
  }
}

@media(min-width:1800px) {
  .container {
    max-width: 1750px;
  }

  .custom-container .ta-navigation-menu ul:not(.social-link) li {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media(min-width:1900px) {
  .container {
    max-width: 1810px;
  }
}

@media(max-width:1799px) {

  .ta-navigation-menu ul:not(.social-link) li {
    padding-left: 14px;
    padding-right: 14px;
  }

  .my-theme-hero-banner+section,
  .my-theme-banner+section {
    /* padding-top: 120px; */
  }

  .my-75+.my-75 {
    margin-top: 120px;
  }

  .mb-75 {
    margin-bottom: 60px;
  }

  .mt-75 {
    margin-top: 60px;
  }

  .my-75 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .pb-75 {
    padding-bottom: 60px;
  }

  .pt-75 {
    padding-top: 60px;
  }

  .py-75 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .py-150 {
    padding-top: 120px;
    padding-bottom: 120px;
  }

}

@media(max-width:1599px) {

  .my-theme-hero-banner+section,
  .my-theme-banner+section {
    /* padding-top: 100px; */
  }

  .my-75+.my-75 {
    margin-top: 100px;
  }

  .mb-75 {
    margin-bottom: 50px;
  }

  .mt-75 {
    margin-top: 50px;
  }

  .my-75 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .pb-75 {
    padding-bottom: 50px;
  }

  .pt-75 {
    padding-top: 50px;
  }

  .py-75 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .py-150 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .h1 {
    font-size: 58px !important;
  }

  h1 {
    font-size: 58px;
  }

  h2 {
    font-size: 42px;
  }

  .h2 {
    font-size: 42px !important;
  }

  h3 {
    font-size: 32px;
  }

  .h3 {
    font-size: 32px !important;
  }

  h4 {
    font-size: 30px;
  }

  .h4 {
    font-size: 30px !important;
  }

  header:not(.logo-above-centered) .ta-navigation-menu .navbar-collapse {
    flex-direction: column-reverse;
    align-items: flex-end;
    padding-top: 20px;
  }

  .sticky-header .ta-navigation-menu .navbar-collapse {
    padding-top: 0;
  }

  .ta-navigation-menu ul:not(.social-link) li a {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .header .main-menu {
    margin-top: 10px;
  }

  .sticky-header .header .main-menu,
  .logo-above-centered .main-menu {
    margin-top: 0;
  }

  .my-theme-locations-slider {
    margin-left: calc((100% - 1286px) / 2);
  }

  .sticky-header .header .btn-block {
    display: none;
  }

  main>section.py-150:last-child {
    padding-bottom: 125px;
  }

}

@media(max-width:1399px) {

  main ul li,
  main ol li {
    /* margin-bottom: 25px; */
  }

  main ul,
  main ol {
    /* margin-bottom: 25px; */
  }

  main ul:not(:last-child),
  main ol:not(:last-child) {
    margin-bottom: 25px;
  }

  p,
  .p {
    margin-bottom: 25px;
  }

  .h1 {
    font-size: 54px !important;
  }

  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 40px;
  }

  .h2 {
    font-size: 40px !important;
  }

  h3 {
    font-size: 30px;
  }

  .h3 {
    font-size: 30px !important;
  }

  h5 {
    font-size: 26px;
  }

  .h5 {
    font-size: 26px !important;
  }

  .header .container,
  .header .container-fluid {
    max-width: 100%;
  }

  .back-top {
    bottom: 70px;
  }

  .menu-gtranslate-menu-container ul li a.gt-current-wrapper {
    font-size: 16px;
    /* padding: 9px 0 7px 5px; */
  }

  .menu-gtranslate-menu-container ul li .sub-menu {
    top: 40px;
  }

  .menu-gtranslate-menu-container ul li .sub-menu {
    top: 40px;
    width: 40px;
    max-width: 40px;
    min-width: 40px;
  }

  /* .menu-gtranslate-menu-container ul li .arrow-toggle-lan {
    width: 11px;
    height: 11px;
    transform: rotate(45deg);
    right: unset;
    top: -4px;
    border-right: 2px solid #08184D;
    border-bottom: 2px solid #08184D;
    position: relative;
    content: " ";
    display: inline-block;
    margin-left: 12px;
  } */

  .menu-gtranslate-menu-container {
    margin-left: 15px;
  }
}

@media(max-width:1199px) {

  .ta-navigation-menu ul:not(.social-link) li a {
    padding-top: 39px;
    padding-bottom: 39px;
  }

  .sticky-header .header .btn-block {
    display: flex;
  }

  .header .top-bar p {
    max-width: 100%;
    text-align: center;
    width: 100%;
  }

  .top-bar p,
  .top-bar a {
    font-size: 14px;
  }

  .top-bar {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .header .social-link {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header .social-link a::after {
    width: 18px;
    height: 18px;
  }

  .header .social-link a {
    width: 45px;
    height: 45px;
  }

  .header .contact-info {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
  }

  .header .contact-info a,
  .header .contact-info {
    font-size: 16px;
  }

  .logo-above-centered .header-main .logo-block {
    margin: 0;
  }

  header:not(.logo-above-centered) .ta-navigation-menu .navbar-collapse {
    padding-top: 0;
  }

  .header .container>.gtranslate_wrapper {
    margin-right: 40px;
  }

  .menu-gtranslate-menu-container {
    margin-left: 0;
    margin-right: 50px;
  }

  .navbar .menu-gtranslate-menu-container {
    display: none;
  }

  .top-bar:has(.hide-in-mobile:only-child) {
    display: none;
  }

  .top-bar .social-link,
  .top-bar .contact-info,
  .top-bar .gTranslate-menu {
    display: none;
  }
}

@media(max-width:1199px) {
  .header-main {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  header .logo-block img,
  .mobile-header .logo {
    width: 200px;
  }

  /*---- Mobile Menu ----*/
  .ta-navigation-menu ul:not(.social-link) li .sub-menu {
    display: none;
  }

  .ta-navigation-menu {
    position: absolute;
    right: 12px;
    z-index: 999;
  }

  .ta-navigation-menu button {
    border: none;
    padding: 0;
    width: 35px;
    background: transparent !important;
  }

  .ta-open-menu .ta-navigation-menu button {
    opacity: 0;
    transition: 0.1s all ease-in-out;
  }

  .ta-navigation-menu button span {
    width: 25px;
    height: 3px;
    background: var(--primary) !important;
    margin: 3px 0;
    display: inline-block;
    position: relative;
  }

  .ta-navigation-menu button span:after,
  .ta-navigation-menu button span:before {
    width: 30px;
    height: 3px;
    background: var(--primary);
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
  }

  .ta-navigation-menu button span::before {
    top: -7px;
  }

  .ta-navigation-menu button span::after {
    bottom: -7px;
    width: 20px;
  }

  /* .ta-navigation-menu .ta-close-icon::after {
    transform: rotate(135deg);
  }

  .ta-navigation-menu .ta-close-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 99999;
  }

  .ta-navigation-menu .ta-close-icon:hover::after,
  .ta-navigation-menu .ta-close-icon:hover::before {
    background: var(--primary);
  }

  .ta-navigation-menu .ta-close-icon::after,
  .ta-navigation-menu .ta-close-icon::before {
    width: 24px;
    height: 2px;
    background: rgba(37, 53, 81, 1);
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
  }

  .ta-navigation-menu .ta-close-icon::before {
    transform: rotate(41deg);
  } */

  .ta-navigation-menu .ta-close-icon {
    width: 24px;
    height: 20px;
    position: relative;
    cursor: pointer;
    position: absolute;
    display: block;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  .ta-navigation-menu .ta-close-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }

  .ta-navigation-menu .ta-close-icon span:nth-child(1) {
    top: 0px;
  }

  .ta-navigation-menu .ta-close-icon span:nth-child(2),
  .ta-navigation-menu .ta-close-icon span:nth-child(3) {
    top: 8px;
  }

  .ta-navigation-menu .ta-close-icon span:nth-child(4) {
    top: 16px;
  }

  .ta-open-menu .ta-navigation-menu .ta-close-icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .ta-open-menu .ta-navigation-menu .ta-close-icon span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .ta-open-menu .ta-navigation-menu .ta-close-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .ta-open-menu .ta-navigation-menu .ta-close-icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .ta-navigation-menu .navbar-collapse {
    position: fixed;
    right: 0;
    top: 0;
    background: var(--white);
    width: 100%;
    height: 100%;
    z-index: 1050;
    transition: all ease 0.75s;
    transform: translateX(100%);
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
  }

  .ta-open-menu .ta-navigation-menu .navbar-collapse {
    transform: translateX(0%);
    padding-top: 0;
  }

  .ta-open-menu {
    overflow: hidden;
  }

  .off-canvas-right .ta-navigation-menu .navbar-collapse {
    width: 300px;
  }

  .off-canvas-left .ta-navigation-menu .navbar-collapse {
    transform: translateX(-100%);
    width: 300px;
    right: unset;
    left: 0;
  }

  .ta-open-menu .off-canvas-left .ta-navigation-menu .navbar-collapse {
    transform: translateX(0%);
  }

  .back-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    transition: opacity 0.15s linear;
    opacity: 0;
    pointer-events: none;
  }

  .ta-open-menu .back-overlay {
    opacity: 0.5;
    pointer-events: auto;
  }

  .mobile-header {
    padding: 15px;
    position: relative;
  }

  .ta-navigation-menu ul:not(.social-link) li {
    padding: 0;
    display: block;
    width: 100%;
    position: relative;
  }

  .ta-navigation-menu ul:not(.social-link) li a {
    padding: 10px 15px;
    border-bottom: 1px solid #f5f5f5;
    width: 100%;
  }

  .ta-navigation-menu ul:not(.social-link) li .sub-menu a {
    padding-left: 23px;
  }

  .ta-navigation-menu ul:not(.social-link) li .sub-menu .sub-menu a {
    padding-left: 31px;
  }

  .ta-navigation-menu ul:not(.social-link) li a::before,
  .ta-navigation-menu ul:not(.social-link) li.menu-item-has-children a::after {
    width: 0;
    height: 0;
    border: 0;
  }

  .ta-navigation-menu ul:not(.social-link) li .arrow-down {
    position: absolute;
    top: 14px;
    right: 22px;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }

  .ta-navigation-menu ul:not(.social-link) li .arrow-down::after {
    width: 12px;
    height: 12px;
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    position: relative;
    content: " ";
    display: inline-block;
    transform: rotate(45deg);
    top: 0;
    left: 0;
    position: absolute;
    transition: all .5s ease;
  }

  .ta-navigation-menu ul:not(.social-link) li a {
    font-size: 16px;
  }

  .ta-navigation-menu .menu-item-has-children>a {
    padding-right: 50px;
  }

  .ta-arrow-down1 {
    width: 40px;
    height: 43px;
    position: absolute;
    display: flex;
    right: 12px;
    top: 0;
    z-index: 9;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  /* .ta-arrow-down1::before {
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    right: unset;
    top: 0px;
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    position: relative;
    content: " ";
    display: inline-block;
  } */

  .ta-change-icon>.ta-arrow-down1::before {
    transform: rotate(180deg);
    top: -2px;
  }

  .ta-arrow-down1:hover::before,
  .ta-navigation-menu ul:not(.social-link) li:hover .ta-arrow-down1::before {
    background-color: var(--primary);
  }

  .ta-navigation-menu .sub-menu .menu-item-has-children .ta-arrow-down2 {
    width: 40px;
    height: 43px;
    top: 0;
    z-index: 9;
    transform: translateY(0);
    cursor: pointer;
    right: 12px;
  }

  .ta-navigation-menu .sub-menu .menu-item-has-children .ta-arrow-down2::before {
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    right: unset;
    top: 0;
  }

  .ta-navigation-menu .ta-change-icon .sub-menu .menu-item-has-children.ta-change-icon-submenu>.ta-arrow-down2:before {
    transform: rotate(45deg);
    top: -2px;
  }

  .ta-navigation-menu ul:not(.social-link) li:hover>a {
    color: var(--primary);
  }

  .h4 {
    font-size: 28px !important;
  }

  h4 {
    font-size: 28px;
  }

  .header .btn-block {
    margin: 20px 15px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .header .btn-block .my-theme-btn {
    display: block;
    width: max-content;
  }

  .header .btn-block .my-theme-btn:not(:last-child) {
    /* margin-bottom: 20px; */
  }

}

@media(max-width:991px) {

  .h1 {
    font-size: 48px !important;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  .h2 {
    font-size: 36px !important;
  }

  h5 {
    font-size: 24px;
  }

  .h5 {
    font-size: 24px !important;
  }

  .my-75+.my-75 {
    margin-top: 80px;
  }

  .mb-75 {
    margin-bottom: 40px;
  }

  .mt-75 {
    margin-top: 40px;
  }

  .my-75 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .pb-75 {
    padding-bottom: 40px;
  }

  .pt-75 {
    padding-top: 40px;
  }

  .py-75 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .py-150 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  header .logo-block img,
  .mobile-header .logo {
    width: 180px;
  }

  .my-theme-hero-banner+section,
  .my-theme-banner+section {
    /* padding-top: 80px; */
  }

  main>section.py-150:last-child {
    padding-bottom: 105px;
  }
}

@media(max-width:767px) {

  ul li,
  ol li {
    font-size: 16px;
  }

  main ul li,
  main ol li {
    /* margin-bottom: 20px; */
  }

  main ul:not(:last-child),
  main ol:not(:last-child) {
    margin-bottom: 20px;
  }

  /* main ul {
    padding-left: 25px;
  }

  main ul li::before {
    top: 6px;
    left: -25px;
    width: 13px;
    height: 13px;
  } */

  main ul li::before {
    top: 10px;
  }

  main ul,
  main ol {
    /* margin-bottom: 20px; */
  }

  .h1 {
    font-size: 40px !important;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  .h2 {
    font-size: 32px !important;
  }

  h3 {
    font-size: 28px;
  }

  .h3 {
    font-size: 28px !important;
  }

  h4 {
    font-size: 26px;
  }

  .h4 {
    font-size: 26px !important;
  }

  h5 {
    font-size: 22px;
  }

  .h5 {
    font-size: 22px !important;
  }

  h6 {
    font-size: 18px;
  }

  .h6 {
    font-size: 18px !important;
  }

  .h5 {
    font-size: 20px !important;
  }

  p,
  .p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .my-75+.my-75 {
    margin-top: 60px;
  }

  .mb-75 {
    margin-bottom: 30px;
  }

  .mt-75 {
    margin-top: 30px;
  }

  .my-75 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .pb-75 {
    padding-bottom: 30px;
  }

  .pt-75 {
    padding-top: 30px;
  }

  .py-75 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .py-150 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .my-theme-btn,
  form input[type=submit],
  .page-template-default main button {
    font-size: 16px;
  }

  .my-theme-hero-banner+section,
  .my-theme-banner+section {
    /* padding-top: 60px; */
  }

  .back-top {
    border-radius: unset;
    height: 35px;
    width: 40px;
    right: -3px;
    bottom: 140px;
  }

  form p {
    margin-bottom: 20px;
  }

  form label {
    font-size: 15px;
  }

  form input:not(input[type=submit]),
  form textarea,
  form input {
    padding: 10px 16px !important;
    font-size: 15px !important;
    line-height: 20px !important;
  }

  .blank-content {
    min-height: 150px;
  }

  header .logo-block img,
  .mobile-header .logo {
    width: 150px;
  }

  .header-main {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .pagination {
    margin-top: 30px;
  }

  main>section.py-150:last-child {
    padding-bottom: 85px;
  }

  .menu-gtranslate-menu-container {
    margin-left: 5px;
  }

  .menu-gtranslate-menu-container ul li a.gt-current-wrapper {
    /* padding: 6px 0 4px 5px; */
  }

  /* .menu-gtranslate-menu-container ul li .arrow-toggle-lan {
    margin-left: 8px;
  } */

  form .wpcf7-not-valid-tip {
    font-size: 15px;
    line-height: 20px;
  }

  form p {
    margin-bottom: 20px;
  }

  form .form-btn-load .wpcf7-spinner {
    right: 100px;
  }

  .wpcf7 form .wpcf7-response-output {
    font-size: 15px;
  }

}

/* language fix */

@media (min-width: 1600px) {
  html:not([lang="en-US"]) .left-logo:not(:has(.container-fluid)) .ta-navigation-menu ul:not(.social-link) li.menu-item-has-children>a::after {
    margin-left: 0;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    top: 50%;
  }

  html:not([lang="en-US"]) .left-logo:not(:has(.container-fluid)) .ta-navigation-menu ul:not(.social-link) li.menu-item-has-children a {
    padding-right: 20px;
  }

  html:not([lang="en-US"]) .left-logo:not(:has(.container-fluid)) .main-menu>li {
    max-width: 160px;
  }

  html:not([lang="en-US"]) .left-logo:not(:has(.container-fluid)) .main-menu {
    display: flex;
  }

  html:not([lang="en-US"]) .left-logo:not(:has(.container-fluid)) .main-menu>li>a {
    text-align: center;
    display: flex !important;
    align-items: center;
    height: 100%;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  body:not(.sticky-header) .logo-above-centered .ta-navigation-menu ul:not(.social-link) li.menu-item-has-children>a::after {
    margin-left: 0;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    top: calc(50% - 5px);
  }

  body:not(.sticky-header) .logo-above-centered .ta-navigation-menu ul:not(.social-link) li.menu-item-has-children a {
    padding-right: 20px;
  }

  body:not(.sticky-header) .logo-above-centered .main-menu>li {
    max-width: 160px;
  }

  body:not(.sticky-header) .logo-above-centered .main-menu {
    display: flex;
  }

  body:not(.sticky-header) .logo-above-centered .main-menu>li>a {
    text-align: center;
    display: flex !important;
    align-items: center;
    height: 100%;
  }
}